* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin-inline: auto;
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
    border-radius: 10px;
    font-family: 'nunito', sans-serif;
}

