.text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 40px;
    background-color: #f09a2a;
    color: white;
    font-size: 30px;
}

li {
    font-size: 23px;
    line-height: 40px;
}

.margin {
    margin: 20px 30px;
    padding: 0px 40px 20px 40px;
}

ol {
    margin-inline: 26px;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 600;
    margin-bottom: 10px;

}

#table { 
    text-align: center;
    border: 3px solid rgb(245, 157, 26);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

table {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100px;
}

th {
    background-color: #ec832e;
    border-radius: 2px;
    color: white;
    font-size: 20px;
}

td {
    background-color: #f09307;
    border-radius: 2px;
    color: white;
    font-size: 20px;
}